beautifulsoup4
blinker
certifi
chardet
Click
Flask
Flask-Mail
Flask-Script
Flask-SQLAlchemy
idna
itsdangerous
Jinja2
MarkupSafe
PyMySQL
python-dateutil
requests
simplejson
six
soupsieve
SQLAlchemy
urllib3
Werkzeug
