FLASKBIRD_ENV = 'local' # choices: 'local', 'dev', 'stg', 'prod'
SECRET_KEY = 'secret_key'
SQLALCHEMY_DATABASE_URI = 'mysql+pymysql://username:password@localhost:3306/dbname?charset=utf8'
#REDIS_URL = None
#
FBD_SITE_NAME = 'Sample Site'

IS_DEBUG_LOGGING = False

#DEFAULT_TIMEZONE = 'Asia/Tokyo'

# Operating organization email
FBD_ADMIN_MAIL = 'admin@example.com'
FBD_ADMIN_COMPANY_NAME = 'Example Company Inc.'
FBD_ADMIN_COMPANY_SITE_URL = 'http://.example.com/'
## Set if use error report mail
#IS_SEND_ERROR_REPORT_MAIL = True
#
## If use outer mail server.
#MAIL_SERVER = 'smtp.googlemail.com'
#MAIL_PORT = 587
#MAIL_USE_TLS = False
#MAIL_USE_SSL = False
#MAIL_USERNAME = 'example@gmail.com'
#MAIL_PASSWORD = 'password'
#
## If use local MTA.
#MAIL_SERVER = 'localhost'
#MAIL_PORT = 25
#
## If use AWS SES.
#MAIL_AWS_SES_ENABLED = True
#MAIL_AWS_SES_REGION = 'us-west-2'
#MAIL_AWS_SES_ACCESS_KEY_ID = ''
#MAIL_AWS_SES_SECRET_ACCESS_KEY = ''

SCRAPE_OPTIONS = {
    'base_url': 'https://example.com',
    'session_expire_min': 60,
    'crawl_sleep_sec': 5,
    'user_id': '',
    'user_pass': '',
    'user_ua': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.14; rv:65.0) Gecko/20100101 Firefox/65.0'
}

RECAPTCHA_USE_SSL= False
RECAPTCHA_PUBLIC_KEY= 'enter_your_public_key'
RECAPTCHA_PRIVATE_KEY='enter_your_private_key'
RECAPTCHA_OPTIONS = {'theme':'white'}

#CONTACT_EMAIL_FROM_NAME = ''
CONTACT_SUBJECT = 'お問い合わせを受け付けました'
CONTACT_TYPE_CHOICES = [
    ('1', 'サイトについて'),
    ('2', '不具合について'),
    ('3', 'その他')
]


GIT_COMMON = {
    'domain': 'example.com',
    'master_repos_dir': '/var/www/work',
    'deploy_dir': '/var/www/sites',
}
GIT_REPOS = {
    'sample': {
        'repo_url': 'https://example.com/hoge/fuga',
        'url': 'git@example.com:hoge/fuga.git',
        'build_type': 'webpack',
    },
}
