FLASKBIRD_ENV = 'local' # choices: 'local', 'dev', 'stg', 'prod'
SECRET_KEY = 'secret_key'
SQLALCHEMY_DATABASE_URI = 'mysql+pymysql://username:password@localhost:3306/dbname?charset=utf8'
#REDIS_URL = None
#
FBD_SITE_NAME = 'Sample Site'

IS_DEBUG_LOGGING = False
# Operating organization email
FBD_ADMIN_MAIL = 'admin@example.com'
## Set if use error report mail
#IS_SEND_ERROR_REPORT_MAIL = True
#MAIL_SERVER = 'smtp.googlemail.com'
#MAIL_PORT = 587
#MAIL_USE_TLS = 1
#MAIL_USERNAME = 'example@gmail.com'
#MAIL_PASSWORD = 'password'
#

SCRAPE_OPTIONS = {
    'base_url': 'https://example.com',
    'session_expire_min': 60,
    'crawl_sleep_sec': 5,
    'user_id': '',
    'user_pass': '',
    'user_ua': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.14; rv:65.0) Gecko/20100101 Firefox/65.0'
}

